$primary-color: #1989FA;
$white: #fff;
$black: #000;

$padding-xs: 4px;
$padding-s: 8px;
$padding-m: 12px;
$padding-l: 16px;
$padding-xl: 24px;

$margin-xs: 4px;
$margin-s: 8px;
$margin-m: 12px;
$margin-l: 16px;
$margin-xl: 24px;

$font-size-xs: 10px;
$font-size-s: 12px;
$font-size-m: 14px;
$font-size-l: 16px;
$font-size-xl: 18px;
$font-size-xxl: 24px;
$font-size-xxl: 32px;